<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agregar registro de trabajo</title>

    <style>
        *{
            font-family: 'Open Sans', sans-serif;
        }

        a{
            /*padding: 100%;*/
            background-color: #D53939;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 1% 0% 0% 0%;
        }

        a:hover{
            background-color: #870D17;
        }

        h1{
            margin: 0% 0% 0% 0.5%;
        }

        form{
            margin: 1% 15% 0% 15%;
            background-color: #cccccc;
            padding: 1% 2% 2% 2%;
            border-radius: 10px;
        }

        input[type=text], select, input[type=date]{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        div {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>

<body>
<h1>Agregar registro de trabajo</h1>

<form action="#" th:action="@{/agregarRegistroDeTrabajo}" th:object="${registroDeTrabajo}" method="post">
    <label for="areaDeConsulta">Área de consulta</label>
    <input type="text" th:field="*{areaDeConsulta}" id="areaDeConsulta"/>

    <label for="fechaDeConsulta">Fecha de consulta</label>
    <input type="date" th:field="*{fechaDeConsulta}" id="fechaDeConsulta"/>

    <label for="auditoria">Descripción de la auditoría</label>
    <input type="text" th:field="*{auditoria}" id="auditoria"/>

    <label for="clientes">Clientes</label>
    <select id="clientes" th:field="*{cliente}" >
        <option th:each="cli,status : ${cliente}" th:id="${cli.id}" th:value="${cli.id}" th:text="'Id: ' + ${cli.id} + ', Cedula Jurídica: ' + ${cli.cedulaJuridica}"></option>
    </select>

    <label for="auditores">Auditores</label>
    <select id="auditores" th:field="*{auditor}">
        <option th:each="aud,status : ${auditor}" th:id="${aud.id}" th:value="${aud.id}" th:text="'Id: ' + ${aud.id} + ', Email: ' + ${aud.email}"></option>
    </select>

    <input type="submit" value="Agregar registro de trabajo">

    <br>
    <br>

    <a href="/mostrarRegistroDeTrabajo">Mostrar registro de trabajos</a>
</form>
</body>
</html>