<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar cliente</title>

    <style>
        *{
            font-family: 'Open Sans', sans-serif;
        }

        a{
            /*padding: 100%;*/
            background-color: #D53939;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 1% 0% 0% 0%;
        }

        a:hover{
            background-color: #870D17;
        }

        h1{
            margin: 0% 0% 0% 0.5%;
        }

        form{
            margin: 1% 15% 0% 15%;
            background-color: #cccccc;
            padding: 1% 2% 2% 2%;
            border-radius: 10px;
        }

        input[type=text], select, input[type=date]{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        div {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>
<body>
<h1>Editar cliente</h1>

<form action="#" th:action="@{/editarCliente/{id}(id=${id})}" th:object="${clienteToEdit}" method="post">
    <label for="cedulaJuridica">Cédula jurídica</label>
    <input type="text" th:field="*{cedulaJuridica}" id="cedulaJuridica"/>

    <label for="razonSocial">Razon social</label>
    <input type="text" th:field="*{razonSocial}" id="razonSocial"/>

    <label for="direccion">Dirección</label>
    <input type="text" th:field="*{direccion}" id="direccion"/>

    <label for="telefono">Teléfono</label>
    <input type="text" th:field="*{telefono}" id="telefono"/>

    <label for="personasDeContacto">Personas de contacto</label>
    <div class="tl-body" id="personasDeContacto" th:each="entry,status : ${personaDeContacto}">
        <!--        <label th:for="${entry.id}" th:text=""></label><br>-->
        <input type="checkbox" th:id="${entry.id}" th:value="${entry.id}" th:field="*{personasDeContacto}"
               th:text="'Id: ' + ${entry.id} + ', Nombre: ' + ${entry.nombre} + ', Apellidos: ' + ${entry.apellidoUno} + ' ' + ${entry.apellidoDos}
               + ', Email: ' + ${entry.email} + ', Teléfono: ' + ${entry.telefono}">
    </div>

<!--    <label for="personaDeContacto">Persona de Contacto</label>-->
<!--    <select name="" id="personaDeContacto" th:field="*{personasDeContacto}">-->
<!--        <option th:each="entry,status : ${personaDeContacto}"  th:value="${entry.id}" th:text="'Id:' + ${entry.id} + ', Email: ' + ${entry.email} "></option>-->
<!--    </select>-->

    <input type="submit" value="Agregar cliente">

    <br>
    <br>

    <a href="/">Volver al index</a>
</form>
</body>
</html>