<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Clientes</title>

    <style>
        *{
            font-family: 'Open Sans', sans-serif;
        }

        a{
            margin: 5% 1% 2% 1%;
            padding: 0.5% 0.5% 0.5% 0.5%;
            background-color: #800080;
            color: white;
            /*padding: 14px 20px;*/
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 1% 0% 0% 0%;
            text-decoration: none;
        }

        a:hover{
            background-color: #4B0082;
        }

        h1{
            margin: 0% 0% 0% 0.5%;
        }

        div {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        #eliminar{
            background-color: #D53939;
        }

        #eliminar:hover{
            background-color: #870D17;
        }

        #editar{
            background-color: #2C718B;
        }

        #editar:hover{
            background-color: #284074;
        }

        #volverAlIndex{
            background-color: #D36918;
        }

        #volverAlIndex:hover{
            background-color: #7C3D00;
        }

        ul{
            list-style-type:none;
        }

        ul div{
            padding: 0 !important;
        }

        #registro{
            background-color: #C6C6C8;
            margin: 1% 15% 0% 15%;
            padding: 1% 2% 2% 2% !important;
        }

        #reg{
            margin: 1% 15% 0% 15%;
            padding: 1% 2% 2% 2% !important;
        }
    </style>
</head>

<body>
<div>
    <h1>Clientes</h1>
    <br>
    <a href="/agregarCliente">Agregar cliente</a>

    <a id="volverAlIndex" href="/">Volver al index</a>
    <ul>
        <div id="registro" th:each="entry,status : ${cliente}">
            <li>
                <div></div>
                <div id="reg">
                    <div>
                        <h4><b>Id: </b><span th:text="${entry.id}"></span></h4>

                            <p><b>Cédula Jurídica: </b><span th:text="${entry.cedulaJuridica}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p><b>Razón social: </b><span th:text="${entry.razonSocial}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p><b>Dirección: </b><span th:text="${entry.direccion}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p><b>Teléfono: </b><span th:text="${entry.telefono}"></span></p>
                    </div>

<!-- ----------------------------------------------------------------------------------------------------------------------------------- -->
                    <div><b>Personas de Contacto:</b></div>
                    <div id="personasDeContacto">

                        <div class="tl-body" th:each="persona,status : ${entry.personasDeContacto}">
    <!--                        <span th:text="'Nombre:' + ${persona.nombre} + ', Email: ' + ${persona.email}"></span>-->
                            <div>
                                <p>Id: <span th:text="${persona.id}"></span></p>

                                <p>Nombre: <span th:text="${persona.nombre}"></span></p>
                            </div>
                            <div class="tl-body">
                                <p>Primer apellido: <span th:text="${persona.apellidoUno}"></span></p>
                            </div>
                            <div class="tl-body">
                                <p>Segundo apellido: <span th:text="${persona.apellidoDos}"></span></p>
                            </div>
                            <div class="tl-body">
                                <p>Email: <span th:text="${persona.email}"></span></p>
                            </div>
                            <div class="tl-body">
                                <p>Teléfono: <span th:text="${persona.telefono}"></span></p>
                            </div>
                        </div>
                    </div>
<!--                    <div>Personas de Contacto:</div>-->
<!--                    <div class="tl-body" th:each="persona,status : ${personaDeContacto}">-->
<!--                        <p><span th:text="${persona.id}"></span></p>-->
<!--                    </div>-->

                    <a id="editar" th:href="@{/editarCliente/{id}(id=${entry.id})}">Editar cliente</a>

                </div>



<!--                <a th:href="@{/borrarCliente/{id}(id=${entry.id})}">Borrar Cliente</a>-->
            </li>
        </div>
    </ul>
</div>
</body>
</html>