<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Auditores</title>

    <style>
        *{
            font-family: 'Open Sans', sans-serif;
        }

        a{
            margin: 5% 1% 2% 1%;
            padding: 0.5% 0.5% 0.5% 0.5%;
            background-color: #800080;
            color: white;
            /*padding: 14px 20px;*/
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 1% 0% 0% 0%;
            text-decoration: none;
        }

        a:hover{
            background-color: #4B0082;
        }

        h1{
            margin: 0% 0% 0% 0.5%;
        }

        div {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        #eliminar{
            background-color: #D53939;
        }

        #eliminar:hover{
            background-color: #870D17;
        }

        #editar{
            background-color: #2C718B;
        }

        #editar:hover{
            background-color: #284074;
        }

        #volverAlIndex{
            background-color: #D36918;
        }

        #volverAlIndex:hover{
            background-color: #7C3D00;
        }

        ul{
            list-style-type:none;
        }

        ul div{
            padding: 0 !important;
        }

        #registro{
            background-color: #C6C6C8;
            margin: 1% 15% 0% 15%;
            padding: 1% 2% 2% 2% !important;
        }

        #reg{
            margin: 1% 15% 0% 15%;
            padding: 1% 2% 2% 2% !important;
        }
    </style>
</head>

<body>
<div>
    <h1>Auditores</h1>
    <br>
    <a href="/agregarAuditor">Agregar auditor</a>
<!--    <br>-->
<!--    <br>-->
<!--    <br>-->
    <a id="volverAlIndex" href="/">Volver al index</a>
    <ul>
        <div id="registro" th:each="entry,status : ${auditor}">
            <li>
                <div></div>
                <div id="reg">
                    <div>
                        <h4>Id: <span th:text="${entry.id}">Id</span></h4>
<!--                        <p><small><i></i>-->
                            <p>Nombre: <span th:text="${entry.nombre}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p>Primer apellido: <span th:text="${entry.apellidoUno}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p>Segundo apellido: <span th:text="${entry.apellidoDos}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p>Dirección: <span th:text="${entry.direccion}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p>Teléfono: <span th:text="${entry.telefono}"></span></p>
                    </div>
<!--                    <div class="tl-body">-->
<!--                        <p>Fecha de Nacimiento: <span th:text="${entry.fechaNacimientoAsShort}"></span></p>-->
<!--                    </div>-->
                    <div class="tl-body">
                        <p>Email: <span th:text="${entry.email}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p>Especialidad: <span th:text="${entry.especialidad}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p>Disponibilidad para viajes: <span th:text="${entry.disponibilidadViajes}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p>Activo: <span th:text="${entry.activo}"></span></p>
                    </div>

                    <a id="editar" th:href="@{/editarAuditor/{id}(id=${entry.id})}">Editar</a>

                </div>

<!--                <a th:href="@{/borrarAuditor/{id}(id=${entry.id})}">Borrar</a>-->
            </li>
        </div>
    </ul>
</div>
</body>
</html>