<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <title>Registros de trabajo</title>

    <style>
        *{
            font-family: 'Open Sans', sans-serif;
        }

        a{
            margin: 5% 1% 2% 1%;
            padding: 0.5% 0.5% 0.5% 0.5%;
            background-color: #800080;
            color: white;
            /*padding: 14px 20px;*/
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 1% 0% 0% 0%;
            text-decoration: none;
        }

        a:hover{
            background-color: #4B0082;
        }

        h1{
            margin: 0% 0% 0% 0.5%;
        }

        div {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        #eliminar{
            background-color: #D53939;
        }

        #eliminar:hover{
            background-color: #870D17;
        }

        #editar{
            background-color: #2C718B;
        }

        #editar:hover{
            background-color: #284074;
        }

        #volverAlIndex{
            background-color: #D36918;
        }

        #volverAlIndex:hover{
            background-color: #7C3D00;
        }

        ul{
            list-style-type:none;
        }

        ul div{
            padding: 0 !important;
        }

        #registro{
            background-color: #C6C6C8;
            margin: 1% 15% 0% 15%;
            padding: 1% 2% 2% 2% !important;
        }

        #reg{
            margin: 1% 15% 0% 15%;
            padding: 1% 2% 2% 2% !important;
        }
    </style>
</head>

<body>
<div>
    <h1>Registros de trabajo</h1>
    <br>
    <a href="/agregarRegistroDeTrabajo">Agregar registro de trabajo</a>

    <a id="volverAlIndex" href="/">Volver al index</a>
    <ul>
        <div id="registro" th:each="entry,status : ${registroDeTrabajo}">
            <li>
                <div></div>
                <div id="reg">
                    <div>
                        <h4><b>Id: </b><span th:text="${entry.id}"></span></h4>

                        <p><b>Área de consulta: </b><span th:text="${entry.areaDeConsulta}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p><b>Fecha de consulta: </b><span th:text="${entry.fechaDeConsulta}"></span></p>
                    </div>
                    <div class="tl-body">
                        <p><b>Auditoría: </b><span th:text="${entry.auditoria}"></span></p>
                    </div>

                    <!-- ----------------------------------------------------------------------------------------------------------------------------------- -->

                    <div><b>Cliente:</b></div>
                    <div id="cliente">
                        <div>
                            <p>Id: <span th:text="${entry.getCliente().id}"></span></p>

                            <p>Razón social: <span th:text="${entry.getCliente().razonSocial}"></span></p>
                        </div>
                        <div class="tl-body">
                            <p>Cédula jurídica: <span th:text="${entry.getCliente().cedulaJuridica}"></span></p>
                        </div>
                        <div class="tl-body">
                            <p>Dirección: <span th:text="${entry.getCliente().direccion}"></span></p>
                        </div>
                        <div class="tl-body">
                            <p>Teléfono: <span th:text="${entry.getCliente().telefono}"></span></p>
                        </div>
                    </div>

                    <br>

                    <!-- ----------------------------------------------------------------------------------------------------------------------------------- -->

                    <div><b>Auditor:</b></div>
                    <div id="auditor">
                        <div>
                            <p>Id: <span th:text="${entry.getAuditor().id}"></span></p>

                            <p>Nombre: <span th:text="${entry.getAuditor().nombre}"></span></p>
                        </div>
                        <div class="tl-body">
                            <p>Primer apellido: <span th:text="${entry.getAuditor().apellidoUno}"></span></p>
                        </div>
                        <div class="tl-body">
                            <p>Segundo apellido: <span th:text="${entry.getAuditor().apellidoDos}"></span></p>
                        </div>
                        <div class="tl-body">
                            <p>Dirección: <span th:text="${entry.getAuditor().direccion}"></span></p>
                        </div>
                        <div class="tl-body">
                            <p>Teléfono: <span th:text="${entry.getAuditor().telefono}"></span></p>
                        </div>
                        <div class="tl-body">
                            <p>Email: <span th:text="${entry.getAuditor().email}"></span></p>
                        </div>
                        <div class="tl-body">
                            <p>Especialdiad: <span th:text="${entry.getAuditor().especialidad}"></span></p>
                        </div>
                        <div class="tl-body">
                            <p>Disponibilidad de viajes: <span th:text="${entry.getAuditor().disponibilidadViajes}"></span></p>
                        </div>
                        <div class="tl-body">
                            <p>Activo: <span th:text="${entry.getAuditor().activo}"></span></p>
                        </div>
                    </div>

                    <a id="editar" th:href="@{/editarRegistroDeTrabajo/{id}(id=${entry.id})}">Editar registro de trabajo</a>

                    <a id="eliminar" th:href="@{/borrarRegistroDeTrabajo/{id}(id=${entry.id})}">Borrar registro de trabajo</a>

                </div>
            </li>
        </div>
    </ul>
</div>
</body>
</html>